@charset "UTF-8";

body{
	font-family: "Trebuchet MS", sans-serif;
  font-size: 18px;
	background: #ddffdd;
	overflow: hidden;
	margin: 10px 30px 10px;
}

canvas{
	background-color: transparent;
	margin: 0px;
}

canvas:focus{
	outline: none;
}

#canvas{
	z-index: 0;
}

.screen{
	margin: 6px;
}

input{
	margin: 12px 24px 12px;
}

#back, #window {
    position: fixed;
}
#back {
    background: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
#window {
    z-index: 1000;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    box-shadow: 0 0 10px #444;
    
}